
h1 {
  text-align: center;
  font-family: arial;
  background-image: url("../images/island.png");
  color: white;
  background-repeat: repeat;
}


.containerDisplay {
  text-align: center;
  font-family: arial;
}

.btn-play {
  width: 140px;
  height: 140px;
  vertical-align: center;
  text-align: center;
}

.container {
  text-align: center;
  margin: 0 auto;
}

/*add media query*/
